<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="upload-service.ZPM">
    <Module>
      <Name>upload-service</Name>
      <Description>A Intersystems IRIS interoperability custom service for file upload from a multipart http request.</Description>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.upload.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>